/* ***** 폰트 색상 시작 ***** */

.ant-menu-item a {
  color: #050c42;
}

/* > 모든 테이블  */
.ant-table-thead > tr > th {
  font-size: 1rem;
  font-weight: 700;
  color: #050c42;
}

/* Sider, Drawer - selected font color */
.ant-menu-item.ant-menu-item-selected > span > svg > path {
  color: #f6f6f6 !important;
}
.ant-menu-item.ant-menu-item-selected > span + span > a > span {
  color: #f6f6f6 !important;
}

/* Drawer - hover */
.ant-menu-item a:hover {
  color: #050c42;
}

.ant-typography {
  color: #050c42;
}

/* ***** 폰트 색상 종료 ***** */

.ant-layout-content {
  flex: auto;
  margin: 20px 16px;
  min-height: 0;
}

/* 스위치 버튼 선택 됐을 때 색상 */
.ant-switch-checked {
  background-color: rgba(94, 203, 161, 0.9);
}

.ant-layout-sider-trigger {
  background-color: rgba(94, 203, 161, 0.9);
}

/* > BaseSection - Selected */
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: rgba(113, 117, 216, 0.9);
}
/* Drawer - Selected */
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: rgba(94, 203, 161, 0.9);
}

/* 마우스 갖다대면 파란색 생기는 막대 없앰 */
.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border-right: 0;
}

/* DrawerSection-menu right border 없앰 */
.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border: 0;
}

/* Input Password Success Close Color */
.ant-form-item-has-success.ant-form-item-has-feedback
  .ant-form-item-children-icon
  > span
  > svg
  > path {
  color: #52c41a !important;
}

.ant-form-item-has-error.ant-form-item-has-feedback
  .ant-form-item-children-icon
  > span
  > svg
  > path {
  color: #ff4d4f !important;
}

.ant-message-custom-content.ant-message-success > span > svg > path {
  color: #52c41a !important;
}

.ant-form-item-explain > div {
  color: #ff4d4f !important;
}

@media all and (max-width: 650px) {
  .ant-table-thead > tr > th {
    font-size: 0.9375rem;
    font-weight: 600;
  }

  .ant-table-tbody > tr > td {
    font-size: 0.875rem;
  }
}
