@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

body,
html {
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: "Jeju Gothic", "Noto Sans KR", "Nanum Gothic",
    "Apple SD Gothic Neo", sans-serif !important;
  color: #050c42;
  line-height: 200%;
}

h1 {
  font-size: 3em;
  font-family: "Jeju Gothic", "Noto Sans KR", "Nanum Gothic",
    "Apple SD Gothic Neo", sans-serif !important;
  color: #050c42;
  font-weight: 500;
  line-height: 140%;
}

h2 {
  font-size: 2.2em;
  font-family: "Jeju Gothic", "Noto Sans KR", "Nanum Gothic",
    "Apple SD Gothic Neo", sans-serif !important;
  color: #050c42;
  font-weight: 400;
  line-height: 140%;
}

h3 {
  font-size: 1.4em;
  font-family: "Jeju Gothic", "Noto Sans KR", "Nanum Gothic",
    "Apple SD Gothic Neo", sans-serif !important;
  color: #050c42;
  font-weight: 300;
}

.menu__logo {
  width: 100px;
  float: left;
}

.menu__logo a {
  display: inline-block;
  font-size: 20px;
  color: #050c42;
  font-weight: 800;
  padding: 19px 20px;
}

/*
  메인 레이아웃 시작
*/
.main-layout {
  background-image: url("../static/main2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: auto;
  padding-bottom: 30px;
}

.main-image-content {
  width: 300px;
  height: 500px;
}

.main-image-list {
  width: 90vw;
  height: 530px;
  overflow-x: auto;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.main-image-list .main-image-item {
  display: inline-block;
  text-align: center;
}

.main-image-margin {
  margin-right: 20px;
}

/*
  스크롤바 커스텀 시작
*/
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*
  스크롤바 커스텀 끝
*/

/*
  메인 레이아웃 끝
*/

/*
  서브 레이아웃 1 시작
*/

.sub-layout-one {
  height: auto;
  background-color: #fafaf9;
  padding: 80px 0;
}

.sub-layout-button-size {
  border-radius: 25px;
}

.sub-layout-one-image {
  display: flex;
  /* width: 1200px;
  height: 700px; */
  width: auto;
  height: auto;
  overflow-x: auto;
  justify-content: center;
  padding: 20px 100px;
}

.sub-layout-one-image > img {
  min-width: 500px;
  min-height: 600px;
  width: 1200px;
  height: 700px;
}

/*
  서브 레이아웃 1 끝
*/

/*
  서브 레이아웃 2 시작
*/
.sub-layout-two {
  height: auto;
  background-color: rgba(222, 209, 190, 0.3);
  padding: 80px 0;
}

.sub-layout-two-image {
  width: 500px;
  height: 450px;
}

.sub-layout-two-card-col {
  min-width: 350px;
  margin-bottom: 15px;
}

.sub-layout-two-card {
  border-radius: 15px;
}

/*
  서브 레이아웃 2 끝
*/

@media screen and (max-width: 500px) {
  .sub-layout-one-image > img {
    min-width: 340px;
    min-height: 400px;
    width: 340px;
    height: 400px;
    padding: 10px;
  }
}

/* width가 900이하일 때 */
@media screen and (max-width: 900px) {
  h1 {
    font-size: 1.9rem;
    text-align: center;
  }
  h2 {
    font-size: 1.4rem;
    text-align: center;
  }

  .sub-layout-button-size > span > svg {
    width: 0.85em;
    height: 0.85em;
  }

  .sub-layout-button-size > span {
    font-size: 0.8rem;
  }

  /* .sub-layout-one-image {
    width: 600px;
    height: 700px;
  } */

  .sub-layout-two-image {
    width: 300px;
    height: 250px;
  }

  .sub-layout-font-medium {
    font-size: 0.8rem;
    text-align: center;
  }
}
