body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: 's-core-dream-light', sans-serif !important;
  color: #454545;
  font-weight: 700;
}

h1{
  font-size: 3em;
  font-family: 's-core-dream-extrabold', sans-serif !important;
  color: #454545;

}

h2{
  font-size: 2.2em;
  font-family: 's-core-dream-extrabold', sans-serif !important;
  color: #454545;
}

h3{
  font-size: 1.4em;
  font-family: 's-core-dream-bold', sans-serif !important;
  color: #454545;
}

.menu__logo {
  width: 100px;
  float: left;
}

.menu__logo a {
  display: inline-block;
  font-size: 20px;
  padding: 19px 20px;
}

/*
  메인 레이아웃 시작
*/
.main-layout-before {
  height: 115vh;
}

.main-layout-after {
  height: 145vh;
}

.main-bg-image {
  /* The image used */
  background-image: url("../static/main.jpg");
  position: relative;

  /* Add the blur effect */
  filter: blur(15px);
  -webkit-filter: blur(15px); 

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.main-bg-text {
  top: 15%;
  width: 100%;
  display: inline-block;
  position: absolute;
}

.main-image-content {
  width: 300px;
  height: 500px;
}

.main-image-list {
  width: 90vw;
  height: 530px;
  overflow-x: auto;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.main-image-list .main-image-item {
  display: inline-block;
  text-align: center;
}

.main-image-margin {
  margin-right: 20px;
}

/*
  스크롤바 커스텀 시작
*/
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/*
  스크롤바 커스텀 끝
*/

/*
  메인 레이아웃 끝
*/

/*
  서브 레이아웃 1 시작
*/

.sub-layout-one {
  height: auto;
  background-color: #fafaf9;
  padding-top: 80px;
}

.sub-layout-one-image {
  display: flex;
  width: 1200px;
  height: 700px;
  overflow-x: auto;
  justify-content: center;
}

/*
  서브 레이아웃 1 끝
*/


/*
  서브 레이아웃 2 시작
*/
.sub-layout-two {
  height: auto;
  background-color: #fafaf9;
  padding: 80px 0;
}

.sub-layout-two-image {
  width: 500px;
  height: 450px;
}

.sub-layout-two-card {
  min-width: 350px;
  margin-bottom: 15px;
}

/*
  서브 레이아웃 2 끝
*/




/* width가 900이하일 때 */
@media screen and (max-width: 900px) {
  h1 {
    font-size: 1.9rem;
    text-align: center;
  }
  h2 {
    font-size: 1.4rem;
    text-align: center;
  }

  .sub-layout-button-size > span > svg {
    width: 0.85em;
    height: 0.85em;
   }

   .sub-layout-button-size > span {
     font-size: 0.8rem;
   }

   .sub-layout-one-image {
     width: 700px;
    height: 500px;
   }

   .sub-layout-two-image {
     width: 300px;
     height: 250px;
   }

   .sub-layout-font-medium {
    font-size: 0.8rem;
    text-align: center;
  }
}
