body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: 's-core-dream-light', sans-serif !important;
  color: #454545;
  font-weight: 700;
}

h1{
  font-size: 3em;
  font-family: 's-core-dream-extrabold', sans-serif !important;
  color: #454545;

}

.menu__logo {
  width: 100px;
  float: left;
}

.menu__logo a {
  display: inline-block;
  font-size: 20px;
  padding: 19px 20px;
}

.bg-image {
  /* The image used */
  background-image: url("../static/main.jpg");
  position: relative;

  /* Add the blur effect */
  filter: blur(15px);
  -webkit-filter: blur(15px); 

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  /* background-color: rgb(0,0,0); Fallback color */
  /* background-color: rgba(0,0,0, 0.4); Black w/opacity/see-through */
  /* color: white;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%); */
  top: 15%;
  width: 100%;
  display: inline-block;
  position: absolute;
}

.bg-text2 {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 10%;
  width: 40%;
  color: black;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  padding-top: 5px;
}

.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

/* width가 900이하일 때 */
@media all and (max-width: 900px) {
  /* .cardLayout {
    min-width: 500px;
  } */
  * {
    font-size: 0.73rem;
  }
}