.user_logo {
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 19px 0;
}

.user-main-search {
    width: 500px;
}


.user-sider-header-open {
    display: flex;
    padding: 20px 0 15px 20px;
    font-size: 15px;
    color: #ABABAB;
}

.user-sider-header-close {
    display: none;
}

.user-sider-header-menu-item {
    color: #E3E3E3;
}

.mobile-sider-on-off {
    display: none;
}

.mobile-sider-on-off > span > svg {
    font-size: 25px !important;
    margin: 10px;
}

@media all and (max-width: 900px) {
    * {
        font-size: 0.93rem !important;
    }
}


@media all and (max-width: 650px) {

    .user-sider {
        display: none;
     }

    .mobile-sider-on-off {
        display: flex;
    }
}