.user_logo {
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding: 13px 0;
}

.user_logo a {
  color: #050c42;
}

.user-header-serach > span > input {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.user-header-serach > span > span > button {
  background-color: rgba(94, 203, 161, 0.9);
  border-color: rgba(94, 203, 161, 0.9);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.user-header-serach > span > span > button:hover {
  background-color: rgba(94, 203, 161, 0.7);
  border-color: rgba(94, 203, 161, 0.7);
}
/* 아이콘 색상 */
.user-header-button-icon > span > span > button > span > svg > path {
  color: #f6f6f6;
}
/* 아이콘 색상 */
.user-header-button-icon > span > svg > path {
  color: #f6f6f6;
}
/* 아이콘 색상 */
.user-button-icon > svg > path {
  color: #f6f6f6;
}

.user-sider {
  background-color: #fff;
}

.user-sider-header-open {
  display: flex;
  padding: 10px 0 10px 20px;
  font-size: 15px;
  color: #c9c9c9;
  background-color: #fff;
}

.user-sider-header-close {
  display: none;
}

.mobile-sider-on-off {
  display: none;
}

.mobile-sider-on-off > span > svg {
  font-size: 25px !important;
}

.fontMedium {
  font-size: 1.2em;
  margin-bottom: 3px;
}

.fontSmall {
  font-size: 0.75rem;
  margin-bottom: 5px;
}

.user-blank-layout {
  padding: 24px;
  min-height: 250px;
}

.latest_link_table {
  overflow-x: auto;
}

/*  */

@media all and (max-width: 650px) {
  .user-sider {
    display: none;
  }

  .user-sider-header-open {
    padding-left: 5px;
  }

  .mobile-sider-on-off {
    display: flex;
    padding-right: 20px;
    /* background-color: white;
        height: 64px; */
  }

  .fontMedium {
    font-size: 1.2em !important;
    margin-bottom: 3px;
  }

  .fontSmall {
    font-size: 0.75rem !important;
    margin-bottom: 5px;
  }
}
